!.env.example
$RECYCLE.BIN/
*.crt
*.db
*.db-journal
*.key
*.log
*.map
*.pem
*.spec.ts
*.spec.tsx
*.swo
*.swp
*.sqlite
*.test.ts
*.test.tsx
*.tmp
*~
.AppleDouble
.DS_Store
.Trash-*
.cache/
.circleci/
.classpath
.env
.env.*
.git/
.gitattributes
.github/
.gitignore
.gitlab-ci.yml
.idea/
.LSOverride
.nyc_output/
.pnpm-store/
.project
.settings/
.travis.yml
.turbo/
.vscode/
__mocks__/
__tests__/
build/
CHANGELOG.md
CONTRIBUTING.md
coverage/
data/
desktop.ini
dist/
docs/
node_modules/
out/
README.md
secrets/
temp/
Thumbs.db
tmp/
