[Desktop Entry]
Name=Fluxer
Comment=Instant messaging and VoIP application
Exec=fluxer %U
Icon=app.fluxer
Type=Application
Categories=Network;InstantMessaging;
StartupWMClass=fluxer
MimeType=x-scheme-handler/fluxer;
Terminal=false
